section:first-of-type{
    .row{
       // padding-top: 100px;
    }
    .container, .container-fluid{
        padding-top: 0 !important;
    }
}
section{
    overflow: hidden;
}
html{
    scroll-behavior:smooth;
}
body{
    background-image: url("../../img/concrete_seamless.jpg") !important;
    background-attachment: fixed !important;
}
body{
    margin: 0;
}
.bg-rotary-gear{
    position: fixed;
    width: 45vw;
    height: 45vw;
    z-index: 0;
    fill: rgba($primary-color, .05);
    transition: 0.1s ease-out;
    transform-origin: center;
    //animation: rotate360 180s infinite;
    left: -25vw;


}
@keyframes rotate360 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
.site{
    position: relative;
    z-index: 0;
}
::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //border-radius: 3px;
    background-color: $primary-color-faded;
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    border-radius: 6px;
    background-color: $primary-color-faded;
}

::-webkit-scrollbar-thumb {
    border-radius: 18px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color:  $secondary-color;
}
.img-c{
    width: 100%!important;
    height: 86vh;
    object-fit: cover;
}

.hhImg{
    height: 55vh;

}
main{
    min-height: 100vh;
}
a:focus {
    outline: none !important;
}
