.hero-slider-block{
    .hero-vertical-swiper{
        height: 100vh;

        .swiper-slide{
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
.hero-flavor{
    position: relative;
    height: 100vh;
    .board{
        img{
            //width: 100%;
            height: auto;
            max-height: 25vh;
            object-fit: contain;
            box-shadow: 0px 0px 0px 6px rgba(255,255,255,1);
            transform-origin: center;

        }
        .img-div{ 
                &:first-of-type img{
                    transform: rotate(7deg);
                }
                &:nth-of-type(2) img{
                    transform: rotate(21deg);
                    margin-top: -2%;
                }
                &:nth-of-type(3) img{
                    transform: rotate(-7deg);
                    margin-top: -2%;
                }
        }
    }

    .container{
        z-index: 1;
        position: relative;
    }
}
