a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: clamp(26px, 10vw, 64px); 
    margin-bottom: 3rem;
}
h2{
    font-size: clamp(24px, 10vw, 46px); 
    margin-bottom: 2rem;
}
h3{
    font-size: clamp(20px, 10vw, 38px); 
    margin-bottom: 2rem;
}
h4{
    font-size: clamp(18px, 10vw, 32px); 
    margin-bottom: 2rem;
}